*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h1{
    background-color: yellow;
    color: black;
    height: 5rem;
    line-height: 5rem;
}
.choices{
    display: flex;
    
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin-top: 5rem;
    
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
}
#userscore,#computerscore{
    font-size: 4rem;
}
.messageContainer{
    margin-top: 3rem;
}
#message{
    background-color: yellow;
    
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1px;
}